[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/UmarFarooqui/libsrtp.git
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/UmarFarooqui/cJSON.git
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/UmarFarooqui/usrsctp.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/UmarFarooqui/mbedtls.git
[submodule "third_party/coreHTTP"]
	path = third_party/coreHTTP
	url = https://github.com/UmarFarooqui/coreHTTP.git
[submodule "third_party/coreMQTT"]
	path = third_party/coreMQTT
	url = https://github.com/UmarFarooqui/coreMQTT.git
